#inp, #inp2 {
	font-family: "Comfortaa";
	/*background-color: white;*/
	background-color: transparent;
	color: #009688;
	border: 1px solid #009688;
	padding: 10px;
	width: 70% margin-top: 10px;
	transition-duration: 200ms;
}

#btn_lg {
	font-family: "Comfortaa";
	/*background-color: white;*/
	background-color: #009688;
	color: white;
	border: 1px solid #009688;
	padding: 10px;
	width: 70% margin-top: 10px;
	transition-duration: 200ms;
}

#btn_lg {
	border-top: none;
}

#inp2 {
	border-top: none;
}

#btn_lg:active {
	filter: brightness(90%);
	transition-duration: 200ms;
}

#btn_lg:hover {
	filter: brightness(110%);
	transition-duration: 200ms;
}

::placeholder {
	color: #009688;
}

.lform {
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 20px;
}

.error_text {
	color: red;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

tr:hover {background-color: #f5f5f5;}

th {
    background-color: #009688;
    color: white;
    height: 50px;
}

.pagination-page {
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #f2f2f2;
	background: #c6c6c7;
	display: inline-block;
	text-align: center;
	margin: 5px;
}

.pagination-page.current {
	background: #009688;
	color: white;
}

.narrowth th {
	width: 200px;
}