@import url(https://use.fontawesome.com/releases/v5.2.0/css/all.css);

html {
	filter: hue-rotate(0);
}

body {
	font-family: Comfortaa, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

progress {
	border: 0px;
	height: 4px;
	margin: 0;
	padding: 0;
	overflow: hidden
}

a {
	text-decoration: none;
	color: #009688;
	transition-duration: 200ms;
}

a:hover {
	color: #32c5b7;
	transition-duration: 200ms;
}

a.redlink {
	color: #ff0000;
}

a.redlink:hover {
	color: #ff3030;
	transition-duration: 200ms;
}


.voice_btn {
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	padding: 2px 7px;
	transition-duration: 300ms;
	text-decoration: none;
	font-weight: bold;
	color: #009688;
}

.voice_btn:hover {
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 2px 10px;
	background-color: #eefffd;
	transition-duration: 300ms;
	text-decoration: none;
	color: #37a79d;
}

.menu-button2 {
	transition-duration: 200ms;
	filter: brightness(1);
}

.menu-button2:hover {
	transition-duration: 200ms;
	filter: brightness(1.2);
}

.menu-button2:active {
	transition-duration: 100ms;
	filter: brightness(0.8);
}

h1 {
	font-size: 32px
}

h2 {
	font-size: 27px
}

h3 {
	font-size: 20px
}

h4 {
	font-size: 18px
}

h5 {
	font-size: 16px
}

h6 {
	font-size: 14px
}

.main-outer {
	flex-grow: 1;
	display: flex;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Comfortaa", Arial, sans-serif;
	font-weight: 400;
	margin: 10px 0;
}

aside {
	width: 15%;
	/*background-color: #f1f1f1;*/
	background-color: white;
	border-right: 1px #f1f1f1 solid;
	flex-direction: column;
	justify-content: space-between;
	flex-shrink: 0;
}

.sidebar-item {
	padding: 8px 16px;
	display: block;
}

header {
	border-bottom: 1px #f1f1f1 solid;
	color: #fff;
	background: #009688; /* Old browsers */
	/*padding: 0.01em 16px;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 74px;
}

.menu-button {
	white-space: normal;
	transition-duration: 200ms;
	text-decoration: none;
	color: black;
}

.menu-button:hover {
	transition-duration: 200ms;
	color: #000;
	background-color: #59bab1;
}

.menu-button:active {
	transition-duration: 200ms;
	color: #000;
	background-color: #59bab1;
	filter: brightness(0.8);
}

.aside-social {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0;
}

.aside-social-mini {
	text-align: center;
}

.aside-social>*+* {
	margin-top: 10px;
}

main {
	flex-grow: 1;
	padding: 10px;
}

.dlauncher {
	transition-duration: 200ms;
	text-decoration: none;
	padding: 10px;
	margin-right: 20px;
}

.dlauncher:hover {
	transition-duration: 200ms;
	background-color: rgba(200, 200, 200, 0.4);
}

.mainpage {
	background-color: #fff;
	width: 100%;
	height: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	font-family: "Comfortaa";
	font-weight: bold;
	color: #009688;
	font-size: 35px;
	transition-duration: 200ms;
	text-decoration: none;
}

.mainpage:hover {
	transition-duration: 200ms;
	color: #40bcb0;
}

.mainpage_plate {
	display: flex;
	justify-content: center;
	margin-left: 10px;
	height: 100%;
	align-self: stretch;
}

.mainpage:before {
	background: linear-gradient(to top left, #fff 0%, #fff 49%, #009688 51%, #009688
		100%);
	width: 20px;
	height: 100%;
	content: "";
	display: block;
}

.mainpage:after {
	background: linear-gradient(to top left, #009688 0%, #009688 49%, #fff 51%, #fff
		100%);
	width: 20px;
	height: 100%;
	content: "";
	display: block;
}

.mp_logo {
	display: none;
}

.mp_plate_tr1 {
	width: 0;
	height: 0;
	border-bottom: 100px solid white;
	border-left: 100px solid transparent;
	display: none;
}

.mp_plate_tr2 {
	width: 0;
	height: 0;
	border-top: 100px solid white;
	border-right: 100px solid transparent;
	display: none;
}

.mainpage:hover {
	transition-duration: 200ms;
	width: 105%;
}

footer {
	background-color: #eee;
	padding: 10px;
}

.newshead {
	margin-bottom: 0;
	/* 929 */
	font-family: "Segoe UI";
}

.newscontent {
	/* 929 */
	font-family: "Segoe UI";
}

.newsparms {
	font-size: .75em;
	color: gray;
	font-family: "Segoe UI";
}

@media screen and (max-width: 1279px) {
	.aside-social {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.main-outer {
		flex-direction: column;
	}
	aside {
		width: 100%;
	}
	.newscontent {
		overflow-wrap: break-word;
		word-wrap: break-word;
	}
}

main img {
	max-width: 100%;
}

.newscontent {
	border-bottom: 1px solid #cecece;
	padding-bottom: 1em;
}

.newshead a {
	text-decoration: none;
	color: black;
}

.newshead a:hover {
	text-decoration: underline;
}

/* aside */
.ind_bg {
	background-image: repeating-linear-gradient(45deg, #f5fffe 0px, #f5fffe 40px, #fff 40px,
		#fff 80px),
		repeating-linear-gradient(135deg, #f5fffe 0px, #f5fffe 20px, #fff 20px,
		#fff 40px);
	background-size: 100% 100%;
	background-position: top left, bottom left;
	background-repeat: no-repeat;
}

.s_offline {
	background-color: #960000;
	color: #fff;
	font-size: 8px;
	padding: 2px 4px;
	border-radius: 2px;
}

.s_offline:hover {
	background-color: #960000;
	color: #fff;
	padding: 2px 4px;
	border-radius: 2px;
}

.s_tec {
	background-color: #666666;
	color: #fff;
	font-size: 8px;
	padding: 2px 4px;
	border-radius: 2px;
}

.s_online {
	background-color: #009688;
	color: #fff;
	padding: 2px 4px;
	border-radius: 2px;
}