<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="main">
	<h1>
		Пользователь
		<th:block th:text="${user.username}" />
	</h1>
	<form method="POST"
		th:action="${'/admin/users/' + user.getUsername() + '/save'}">
		<table class="narrowth">
			<tr>
				<th>Имя пользователя</th>
				<td><input type="text" name="username"
					th:value="${user.getUsername()}" /></td>
			</tr>

			<tr>
				<th>UUID</th>
				<td th:text="${user.getUuid()}" />
			</tr>

			<tr>
				<th>Уровень доступа</th>
				<td><input type="number" name="accessLevel"
					th:value="${user.getAccessLevel()}" /></td>
			</tr>

			<tr>
				<th>Новый пароль</th>
				<td><input type="password" name="newpass" value="" /></td>
			</tr>


			<tr>
				<th>Повторите новый пароль</th>
				<td><input type="password" name="newpass2" value="" /></td>
			</tr>

			<tr>
				<th>Действия</th>
				<td><input type="submit" value="Сохранить" /> <a
					th:href="${'/admin/users/' + user.getUsername() + '/delete'}" class="redlink">Удалить</a>
				</td>
			</tr>
		</table>

	</form>
</th:block>