<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="main">
	<h1 th:text="${headerTitle}"/>
	<div>
		<a th:each="pagen: ${#numbers.sequence(0, numPages)}"
			th:href="${'?page=' + pagen}" th:text="${pagen + 1}"
			class="pagination-page" th:classappend="${pageRequest.getPageNumber() == pagen} ? current : ''"></a>
	</div>
	<table>
		<tr>
			<th>Имя пользователя</th>
			<th>UUID</th>
			<th>Уровень доступа</th>
			<th>Действия</th>
		</tr>

		<tr th:each="user : ${userRepository.findByAccessLevelLessThanEqual(maxAccessLevel, pageRequest)}">
			<td th:text="${user.getUsername()}" />
			<td th:text="${user.getUuid()}" />
			<td th:text="${user.getAccessLevel()}" />
			<td>
				<a th:href="${'/admin/users/' + user.getUsername()}">Изменить</a>
			</td>
		</tr>
	</table>
	<div>
		<a th:each="pagen: ${#numbers.sequence(0, numPages)}"
			th:href="${'?page=' + pagen}" th:text="${pagen + 1}"
			class="pagination-page" th:classappend="${pageRequest.getPageNumber() == pagen} ? current : ''"></a>
	</div>
</th:block>