<header xmlns:th="http://www.thymeleaf.org" th:fragment="header"
	style="filter: blur(4px);">
	<div class="mainpage_plate">
		<a href="/" style="font-size: 28px;" class="mainpage">aquac0re</a>
	</div>
</header>