<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/admin.css}" />
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
<link rel="shortcut icon" href="/favicon.ico">
<img src="/img/prev.png" style="display: none;">
<meta name="viewport" content="width=device-width, initial-scale=1">
</th:block>