
<header xmlns:th="http://www.thymeleaf.org" th:fragment="header">

    <div class="mainpage_plate">
  <a href="/" style="font-size: 28px;" class="mainpage">aquac0re</a>
    </div>

  <a href="/admin/logout" class="dlauncher" style="color: pink;font-weight: bold;">Выйти</a>
</header>