<aside xmlns:th="http://www.thymeleaf.org" class="ind_bg"
	th:fragment="sidebar">
	<div>
		<div class="aside-mainpart">
			<!-- Menu -->
			<!--<h3 class="sidebar-item" style="background-color:#016c62; text-align:center;margin: 0 0; padding:0.01em 16px;color:white;">Меню</h3>-->
			<!-- Links -->
			<a style="font-size: 1px; opacity: 0;">'</a> <a href="/"
				class="sidebar-item menu-button">Главная</a> <a th:href="@{/admin/banlist}"
				class="sidebar-item menu-button">Банлист</a> <a th:href="@{/admin/users}"
				class="sidebar-item menu-button">Список игроков</a> <a href="/404"
				class="sidebar-item menu-button">Логи</a>

		</div>
		<!-- Widgets -->


		<!-- Social -->
		<!--
        <div style="padding-top: 10px;" class="aside-social-mini">
        <a href="http://vk.com/aquac0re" style="margin: 5px;" class="menu-button2"><img src="/img/vk.png" alt="ВК" height=32 width=32></a>
        <a href="http://discordapp.com/invite/xkW3cgX" style="margin: 5px;" class="menu-button2"><img src="/img/discord.png" alt="Discord" height=32 width=32></a>
        <a href="http://2ch.hk/mc/res/339316.html" style="margin: 5px;" class="menu-button2"><img src="/img/2ch.png" alt="2ch.hk Thread" height=32 width=32></a>
        </div>-->
	</div>
</aside>